.navbar {
  background: rgb(20, 20, 20);
  padding: 0.5rem 1rem;
  z-index: 1;

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &__items {
    display: flex;
    align-items: center;
    max-width: 1200px;
    gap: 1.5rem;
  }

  &__item {
    color: white;
    text-decoration: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 0.5rem 0;
   &__items {
     gap: 0.5rem;
   }
  }
}