.detail {
  display: flex;
  gap: 2rem;

  &__info {
    text-align: left;
    color: #fff;
  }
}

@media screen and (max-width: 480px) {
  .detail {
    flex-direction: column;
    gap: 0;

    &__info {
      text-align: center;
    }
  }
}
