.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: gray;
  display: flex;

  &__logo {
    width: 200px;
    animation: loading 2s infinite;
    margin: 0 auto;
  }
}

@keyframes loading {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }

  100% {
    width: 100px;
  }
}
